ItineraryServer/Connected Services/ProxyCache/Data1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8034/Data?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cacheItemName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithExpiration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cacheItemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtSeconds" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithExpirationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWithExpirationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithDateTimeOffset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cacheItemName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="dt" type="q1:DateTimeOffset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithDateTimeOffsetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWithDateTimeOffsetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>